{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Факты про Урал</title>
    <link rel="stylesheet" href="{% static 'ED/styles/fifth_page.css' %}">
</head>
<body>
    <img src='{% static "ED/img/fifth_page_fon.jpg" %}' class="fon">

    <!-- Header========== -->
    <header class="header">
        <div class="container">
            <div class="header_inner">
                <a class="nuv-elments" href="{% url 'fourth_page' %}">Back</a>
                <div class="header_title"><h1>Факты</h1></div>
                <a class="nuv-elments" href="{% url 'index.html' %}">В Начало</a>
            </div>
        </div>
    </header>
    <!-- /Header========= -->

    <!-- Main======== -->
    <main class="main-block">
        <div class="container">
            <div class="main_inner">
                <div class="fact">
                    <h3>1.</h3>
                    <p>
                        <b>На Урале</b> был построен первый российский <em>паровоз</em>. 
                        Он был создан крепостными <b>Демидовых</b> – отцом и сыном <b>Черепановыми</b>. 
                        <br>Здесь же умелец <b>Артамонов</b> создал первый в мире <em>двухколёсный велосипед</em>, плотинный мастер <b>Сафронов</b> изобрёл и построил первую <em>водяную турбину</em>.
                    </p>
                    <figure>
                        <img class="fact-img" src="{% static 'ED/img/fifth_page_par.jpg' %}" alt="">
                        <figcaption><em>Первый паровоз</em></figcaption>
                    </figure>
                </div>
                <div class="fact">
                    <h3>2.</h3>
                    <p>
                        Одним из древнейших занятий башкир было <em>пчеловодство</em>. 
                        Оно ещё в конце <b>XIX века</b> занимало важное место в лесных районах. 
                        Сегодня <b>Башкортостан</b> – единственное место в Европе, где продолжается сбор <b>дикого</b> мёда.
                    </p>
                    <figure>
                        <img class="fact-img" src="{% static 'ED/img/fifth_page_bees.jpg' %}" alt="">
                        <figcaption><em>Пчеловодство</em></figcaption>
                    </figure>
                </div>
                <div class="fact">
                    <h3>3.</h3>
                    <p>
                        <b>Пермь</b> имеет такое же расположение улиц, что и <b>Нью-Йорк</b> – <em>«решётку»</em>: куча параллельных друг другу улиц пересекают другие параллельные улицы. 
                        В Перми насчитывается около <b>1400</b> <em>улиц</em> и <em>переулков</em>.
                    </p>
                </div>
                <div class="fact">
                    <h3>4.</h3>
                    <p>
                        <b>1958 год</b> – начало ракетостроения на <em>Воткинском заводе</em>. 
                        С полигона <b>Капустин Яр</b> поднялась первая ракета, созданная воткинскими машиностроителями. 
                        С тех пор, завод поставил на вооружение <b>12</b> видов <em>оперативно-тактических</em> и <em>стратегических</em> ракет.
                    </p>
                </div>
                <div class="fact">
                    <h3>5.</h3>
                    <p>
                        Первый в России <b>алмаз</b> был обнаружен именно на <b>Пермской земле в 1829 году</b>, в бассейне реки <em>Койва</em>.
                        Обнаружил драгоценный камень 14-летний крепостной мальчик.
                    </p>
                    <figure>
                        <img class="fact-img" src="{% static 'ED/img/fifth_page_diamond.jpg' %}" alt="">
                        <figcaption><em>Первый алмаз</em></figcaption>
                    </figure>
                </div>
                <div class="fact">
                    <h3>6.</h3>
                    <p>
                       В начале <b>XX</b> века <em>Челябинск</em> принимал до <b>1,5 миллиона пудов</b> чая ежегодно. 
                       Благодаря этому, в городе получило развитие <em>чайное дело</em> и были построены <b>четыре</b> <em>чаеразвесочные фабрики</em>, он стал вторым в России, после Москвы.
                    </p>
                    <figure>
                        <img class="fact-img" src="{% static 'ED/img/fifth_page_tea.jpg' %}" alt="">
                        <figcaption><em>Много чая</em></figcaption>
                    </figure>
                </div>
                <div class="fact">
                    <h3>7.</h3>
                    <p>
                        В годы <b>Первой Мировой войны</b> выпуск оружия на <em>Ижевском заводе</em> достигал <b>2000</b> стволов в сутки 
                        (в основном, трехлинейные винтовки системы Мосина) и для ускорения вывоза и доставки материалов была построена <b>железная дорога</b>, 
                        связывающая <em>Ижевский Завод</em> с <em>Казанью</em> и <em>Екатеринбургом</em>.
                    </p>
                </div>
                <div class="fact">
                    <h3>8.</h3>
                    <p>
                        <em>Екатеринбург</em>, как и весь <b>Урал</b>, имеет самое непосредственное отношение к открытию <em>космической эры</em> человечества. 
                        Именно в <em>Екатеринбурге</em> был изобретён <b>передатчик</b>, позволяющий принимать сигналы со спутника на Землю.
                    </p>
                </div>
                <div class="fact">
                    <h3>9.</h3>
                    <p>
                        В 100 км от <em>Перми</em> находится уникальный памятник природы – <b>Кунгурская ледяная пещера</b>. 
                        Это одна из крупнейших пещер европейской части России – длина её составляет <b>5,6 км</b>.
                    </p>
                    <figure>
                        <img class="fact-img" src="{% static 'ED/img/fifth_page_cave.jpg' %}" alt="">
                        <figcaption><em>Кунгурская пещера</em></figcaption>
                    </figure>
                </div>
                <div class="fact">
                    <h3>10.</h3>
                    <p>
                        На <em>Северном Урале</em> находится крупная <b>Канинская пещера</b>, длиной <b>63</b> метра. 
                        Она служила местом жертвоприношений у жителей <b>верхней Печоры</b> с глубокой древности и до начала XIX века. 
                        Здесь находили груды <em>медвежьих черепов, кремневые, бронзовые и железные наконечники стрел, монеты</em>, а также, <em>изделия из керамики</em> и прочие вещи домашнего обихода.
                    </p>
                    <figure>
                        <img class="fact-img" src="{% static 'ED/img/fifth_page_cave2.jpg' %}" alt="">
                        <figcaption><em>Канинская пещера</em></figcaption>
                    </figure>
                </div>
                <div class="fact">
                    <h3>11.</h3>
                    <p>
                        <b>На Южном Урале</b> находилась одна из древнейших <em>цивилизаций</em> на планете. 
                        <b>Заповедник Аркаим</b> – уникальный археологический комплекс <em>протогородской культуры</em> сохранил не менее <b>50</b> памятников древней истории различных эпох.
                    </p>
                </div>
                <div class="fact">
                    <h3>12.</h3>
                    <p>
                        Около <em>грота Борода</em>, в <b>пещере Сумган</b>, спелеологами были найдены <b>100</b> <em>черепов куниц</em>. Вот только, как они туда попали, никто не знает.
                    </p>
                </div>
            </div>
        </div>
    </main>

</body>
</html>