{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>География Урала</title>
    <link rel="stylesheet" href="{% static 'ED/styles/fourth_page.css' %}">
</head>
<body>
    <img src='{% static "ED/img/fourth_page_fon.jpg" %}' class="fon">

    <!-- Header======= -->
    <header class="header">
        <div class="container">
            <div class="header_inner">
                <a class="nuv-elments" href="{% url 'third_page' %}">Back</a>
                <div class="header_title"><h1>Почему Урал Кривой</h1></div>
                <a class="nuv-elments" href="{% url 'fifth_page' %}">Next</a>
            </div>
        </div>
    </header>
    <!-- /Header====== -->

    <!-- Main==== -->
    <main class="main_block">
        <div class="container">
            <div class="first_information">
                <div class="geo-place">
                    <h3>Географическое положение</h3>
                    <p>
                        Уральские горы протягиваются вдоль восточных окраин <b>Русской равнины</b>, от побережья <b>Северного Ледовитого океана</b> до южных границ России. 
                        С севера на юг Уральская горная страна протягивается более чем на 2000 км, пересекая пять природных зон: <em>тундру, лесотундру, тайгу, лесостепь и степь</em>. 
                        Ширина горного пояса от 50 км на севере, до 150 км на юге. 
                        На западе граница Урала с Русской равниной не имеет четких очертаний. 
                        Обычно границу проводят по <b>Предуральскому краевому прогибу</b>, по долине реки <b>Коротаиха</b> и по реке <b>Усе</b>, далее по долине <b>Печеры</b>, затем чуть восточнее долины <b>Камы</b>, по рекам <b>Уфа</b> и <b>Белая</b>. 
                        На востоке Уральские горы круто обрываются к низким предгорьям, поэтому граница Западной Сибири более контрастна. 
                        Она начинается от <b>Байдарацкой губы</b>, далее на юг к <b>Зауральскому плато</b>. 
                        Урал издавна считают границей между Европой и Азией. 
                        Граница проводится по всей части гор и далее по реке <b>Урал</b>.
                    </p>
                </div>
                <div class="geo-place-img">
                    <figure>
                        <img class="fiz_Ural_map" src="{% static 'ED/img/Ural_map_2.jpg' %}" alt="Карта Урала">
                        <figcaption><em>Физическая карта Урала</em></figcaption>
                    </figure>
                </div>
            </div>
            <div class="second_information">
                <div class="relief">
                    <h3>Геологическое строение и рельеф</h3>
                    <p>
                        Геологическое строение Урала довольно сложно. 
                        В его строении прослеживается два структурных комплекса. 
                        <b>Нижний комплекс</b> представлен такими толщами как: <em>гнейсы, кристаллические сланцы, кварциты и мрамор</em>. 
                        Здесь присутствуют <em>кварцевые песчаники, глинистые сланцы, доломиты и известняки</em>. 
                        Вероятно, этот нижний комплекс формировался в байкальскую складчатость, при этом территория Урала опускалась и неоднократно поднималась, становясь сушей. 
                        <b>Верхний комплекс</b> образован отложениями начиная с ордовика и заканчивая нижним триасом. 
                        Тектонические структуры современного Урала связаны с формированием именного этого структурного яруса. 
                        Урал является примером одной из крупной линейных складчатых структур, протянувшихся на тысячи километров.
                    </p>
                </div>
                <div class="klimat">
                    <h3>Климат и поверхностные воды.</h3>
                    <p>
                        Климат Урала по сравнению с климатом Русской равнины отличаются большей континентальностью.
                        На севере климат субарктический, и умеренный на остальной территории. 
                        Из-за незначительной высоты гор свой особый горный климат на Урале не формируется. 
                        Но Урал играет роль барьера на пути движения западных ветров. 
                        Климатические различия между севером и югом особенно проявляются летом, июльская температура изменяется соответственно от <b>+6˚C</b> до <b>+22˚C</b>. 
                        Зимой температура различается меньше. 
                        Циклоны несут с Северной Атлантики более теплый и влажный воздух. 
                        Самая низкая средняя температура января на Полярном Урале <b>-22˚C</b>. 
                        Южнее Урал зимой находится под влиянием континентальных воздушных масс, поэтому январские температуры и здесь тоже низкие, до <b>-18˚C</b>. 
                        Западный склон и Предуралье являются более увлажненными, чем восточный склон. 
                        На западном склоне выпадает на <b>200 мм</b> осадков больше, чем на восточном. 
                        Наибольшее количество осадков приходится на западные склоны Полярного – Северного Урала, свыше <b>1000 мм</b>. 
                        Зимой устанавливается снежный покров, в Предуралье его мощность до 90 см, в горах западного склона до 2 метров. 
                        При этом на юге Зауралья высота снежного покрова всего 30-40 см. 
                        Реки Урала принадлежат бассейнам <em>Печоры, Волги, Урала и Оби</em>, соответственно <em>Баренцева, Каспийского и Карского морей</em>. 
                        Величина речного стока на Урале больше, чем на прилегающих равнинах. 
                        Реки западного склона многоводнее восточного. 
                        На их долю приходится до 75% от общего годового стока Урала. 
                        Преобладает снеговое питание (до 70%), дождевое составляет почти 25%, остальное – подземные воды. 
                        Озера на Урале распространены неравномерно. 
                        Наибольшее их количество в восточных предгорьях Северного и Южного Урала, где преобладают тектонические озера.
                        Самое глубокое озеро на Полярном Урале - Большое Щучье ( глубина до 136 м), оно ледниково-тектоническое. 
                        Много на Урале и водохранилищ и прудов.
                    </p>
                </div>
                <div class="relief-img">
                    <figure>
                        <img class="s_i_img" src="{% static 'ED/img/fourth_page_relief.jpg' %}" alt="Рельеф Урала">
                        <figcaption><em>Рельеф и реки Урала</em></figcaption>
                    </figure>
                </div>
                <div class="klimat-img">
                    <figure>
                        <img class="s_i_img" id="k-i" src="{% static 'ED/img/fourth_page_klimat.png' %}" alt="Климат Урала">
                        <figcaption><em>Климат Урала</em></figcaption>
                    </figure>
                </div>
            </div>
            <div class="third_information">
                <div class="soils">
                    <div class="soils-text">
                        <h3>Почвы Урала</h3>
                        <p>
                            Почвы предгорий аналогичны зональным почвам прилегающих равнин. 
                            На <b>севере</b> преобладают <em>тундрово-глеевые почвы</em>, <b>южнее</b> распространены <em>подзолистые</em> и <b>еще южнее</b> распространены <em>дерново-подзолистые почвы</em>. 
                            В Предуралье южнее Перми появляются <em>серые лесные почвы</em>, которые к <b>югу</b> переходят в <em>черноземы</em>. 
                            На <b>юго-востоке Зауралья</b> появляются <em>каштановые почвы</em>.
                            <b>В горах</b> развиты горные типы почв, которые все насыщены обломочным материалом. 
                            Это: <em>горно-тундровые, горные лесные</em> (подзолистые и т.д.), <em>горные черноземы</em>.
                        </p>
                    </div>
                    <div class="soils-img">
                        <figure>
                            <img class="soils-imgs" src="{% static 'ED/img/fourth_page_podzol.jpg' %}" alt="Подзолистые почвы">
                            <figcaption><em>Подзолистые почвы</em></figcaption>
                        </figure>
                        <figure>
                            <img class="soils-imgs" src="{% static 'ED/img/fourth_page_kashtan.jpg' %}" alt="Каштановые почвы">
                            <figcaption><em>Каштановые почвы</em></figcaption>
                        </figure>
                        <figure>
                            <img class="soils-imgs" src="{% static 'ED/img/fourth_page_grey.jpg' %}" alt="Серые лсеные почвы">
                            <figcaption><em>Серые лесные почвы</em></figcaption>
                        </figure>
                    </div>
                </div>
                <div class="plants">
                    <div class="plants-img">
                        <figure>
                            <img class="plants-imgs" src="{% static 'ED/img/fourth_page_kedr.jpg' %}" alt="Фото Кедра">
                            <figcaption><em>Кедр</em></figcaption>
                        </figure>
                        <figure>
                            <img class="plants-imgs" src="{% static 'ED/img/fourth_page_osina.jpg' %}" alt="Фото Осины">
                            <figcaption><em>Осина</em></figcaption>
                        </figure>
                        <figure>
                            <img class="plants-imgs" src="{% static 'ED/img/fourth_page_karagan.jpg' %}" alt="Фото Карагана">
                            <figcaption><em>Караган</em></figcaption>
                        </figure>
                    </div>
                    <div class="plants-text">
                        <h3>Растения Урала</h3>
                        <p>
                            Растительность Урала довольно разнообразна. 
                            Во флоре Урала насчитывается до <b>1600</b> видов растений. 
                            Но эндемики составляют лишь 5%. Самым распространённым типом растительности Урала являются леса, они тянутся от полярного круга на юг. 
                            Преобладают <b>хвойные леса</b> из <em>ели, пихты, кедра</em>. 
                            Иногда встречается <em>лиственница</em>. 
                            Южнее хвойным породам добавляется <b>широколиственные породы</b>: <em>липа, вяз, клен</em>. 
                            Но эти леса занимают на Урале не более 5% лесопокрытой площади. 
                            Значительно шире представлены <b>мелколиственные леса</b> из <em>березы и осины</em>. 
                            Они распространены по всему Уралу. 
                            Крайний юг страны занимают степи, с <b>зарослями кустарников</b> из <em>караганы, спиреи, вишни</em> и др.
                        </p>
                    </div>
                    
                </div>
                <div class="animals">
                    <div class="animals-text">
                        <h3>Животные Урала</h3>
                        <p>
                            Животный мир слагается из <b>тундровых</b>, <b>лесных</b> и <b>степных</b> видов, распространенных на соседних равнинах.
                            Настоящих <b>горных</b> видов в пределах Уральской страны нет. 
                            <b>На севере</b> типичны <em>лемминг, песец, полярная сова, сапсан, канюк, белая куропатка, пуночки, лапландский подорожник, золотистая ржанка</em> и др. 
                            <b>В лесах</b> обитают: <em>лось, бурый медведь, росомаха, рысь, соболь, куница, волк, бурундук, белка, заяц-беляк, рябчик, глухарь, тетерев, кедровка, дятлы, синицы, поползень, различные совы</em>, летом прилетают <em>славки, горихвостки, кукушка, дрозды</em> и др. 
                            <b>В степях</b> многочисленны <b>грызуны</b>: <em>сурки, суслики, хомяк, хомячок, хорь</em>. 
                            Из <b>птиц</b>: <em>степной орел, беркут, степной лунь, курганник, коршун, пустельга, жаворонки, чекан-каменка</em> и др
                        </p>
                    </div>
                    <div class="animals-img">
                        <figure>
                            <img class="animals-imgs" src="{% static 'ED/img/fourth_page_bear.jpg' %}" alt="Фото бурого медведя">
                            <figcaption><em>Бурый медведь</em></figcaption>
                        </figure>
                        <figure>
                            <img class="animals-imgs" src="{% static 'ED/img/fourth_page_kurgannik.jpg' %}" alt="Фото Курганника">
                            <figcaption><em>Курганник</em></figcaption>
                        </figure>
                        <figure>
                            <img class="animals-imgs" src="{% static 'ED/img/fourth_page_wolf.jpg' %}" alt="Фото волка">
                            <figcaption><em>Волк</em></figcaption>
                        </figure>
                        <figure>
                            <img class="animals-imgs" src="{% static 'ED/img/fourth_page_drozd.jpg' %}" alt="Фото дрозда">
                            <figcaption><em>Дрозд</em></figcaption>
                        </figure>
                        <figure>
                            <img class="animals-imgs" src="{% static 'ED/img/fourth_page_gluh.jpg' %}" alt="Фото глухаря">
                            <figcaption><em>Глухарь</em></figcaption>
                        </figure>
                        <figure>
                            <img class="animals-imgs" src="{% static 'ED/img/fourth_page_golden_hohma.jpg' %}" alt="фото золотистой ржанки">
                            <figcaption><em>Золотистая ржанка</em></figcaption>
                        </figure>
                        <figure>
                            <img class="animals-imgs" src="{% static 'ED/img/fourth_page_hor.jpg' %}" alt="Фото хоря">
                            <figcaption><em>Хорь</em></figcaption>
                        </figure>
                        <figure>
                            <img class="animals-imgs" src="{% static 'ED/img/fourth_page_rasomaha.jpg' %}" alt="Фото расомахи">
                            <figcaption><em>Расомаха</em></figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- /Main==== -->
    
</body>
</html>